[Desktop Entry]
Name=GL Shaders Triangle
Comment=OpenGL Shaders Triangle demo
Exec=gl-shaders-triangle
Icon=gl-shaders-triangle
Terminal=false
Type=Application
Categories=Utility;Game;
