[Desktop Entry]
Name=Image Viewer
Comment=Image viewer application
Exec=aplus-image-viewer
Terminal=false
Type=Application
Categories=Graphics;Viewer;
