[Desktop Entry]
Name=Explorer
Comment=Explorer application
Exec=aplus-explorer
Icon=aplus-explorer
Terminal=false
Type=Application
Categories=Utility;Explorer;
