[Desktop Entry]
Name=Console
Comment=Console application
Exec=aplus-terminal
Icon=aplus-terminal
Terminal=false
Type=Application
Categories=Utility;Terminal;
