[Desktop Entry]
Name=Calculator
Comment=Calculator application
Exec=aplus-calculator
Icon=aplus-calculator
Terminal=false
Type=Application
Categories=Utility;Calculator;
